<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HJT_MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D83E081D18DFB70053FA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D83E211D18DFB80053FA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D83E2C1D18DFB80053FA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
